.heading
  %span.title= coll.name
  %span.actions= table_options_dropdown
%form{:action => '/new_row'}
  %table.colltable{'data-coll' => coll.name, 'data-object-id' => coll.object_id, 'data-search-str' => coll.search_str, 'data-sort' => coll.sort_str}
    %thead
      %tr
        - coll.keys.each do |k|
          %th= k.to_s
    %tbody
      - coll.find.to_a[0..0].each do |r|
        %tr{'data-row-id' => r['_id'].to_s}
          - coll.keys.each do |k|
            %td.table-cell{:id => "cell_#{rand(1000000000)}", 'data-field-name' => k, 'data-raw-value' => r[k].raw_value}= r[k].mongo_inspect
            
