%html
  %head
    %script{:src => "jquery.js"}
    %script{:src => "jquery-ui.js"}
    %script{:src => "jquery.form.js"}
    %script{:src => "run.js"}
  %body
    - @colls.each do |coll|
      .collection{:id => coll.name}
        = haml(:table, :locals => {:coll => coll})