%h2= coll.name
%a.new-row{:href => '#'} New Row
%a.new-column{:href => '#'} New Column
%a.reload{:href => '#'} Reload
%a{:href => "/table?coll="+coll.name} Open
%a{:href => "/copy?coll="+coll.name} Copy
%form{:action => '/new_row'}
  %table{'data-coll' => coll.name, 'data-object-id' => coll.object_id}
    %thead
      %tr
        - coll.keys.each do |k|
          %th= k
    %tbody
      - coll.find.to_a[0..0].each do |r|
        %tr{'data-row-id' => r['_id'], 'data-abc' => 52}
          - coll.keys.each do |k|
            %td.table-cell{:id => "cell_#{rand(1000000000)}", 'data-field-name' => k, 'data-raw-value' => r[k].raw_value}= r[k].mongo_inspect
            
