%html
  %head
    %script{:src => "jquery.js"}
    %script{:src => "jquery-ui.js"}
    %script{:src => "jquery.form.js"}
    %script{:src => "jquery.masonry.js"}
    %script{:src => "run.js"}
  %body
    %a.reload-all{:href => "#"} Reload All
    #colls
      - @colls.each do |coll|
        .collection{:id => coll.name}
          = haml(:table, :locals => {:coll => coll})