%h2= coll.name
%a.new-row{:href => '#'} New Row
%a.new-column{:href => '#'} New Column
%form{:action => '/new_row'}
  %table
    %thead
      %tr
        - coll.keys.each do |k|
          %th= k
    %tbody
      - coll.find.each do |r|
        %tr
          - coll.keys.each do |k|
            %td= r[k].mongo_inspect